<tr id="user_<%= user.id %>">
  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
    <div class="h-11 w-11 flex-shrink-0">
      <% if user.user_photo.attached? %>
        <%= image_tag user.user_photo, class: "h-11 w-11 rounded-full" %>
      <% else %>
        <%= image_tag("user.jpg", class: "h-11 w-11 rounded-full text-gray-300") %>
      <% end %>
    </div>
  </td>
  <td><%= user.name %></td>
  <td><%= user.job %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td>
    <span class="inline-flex items-center rounded-md bg-<%= user_status(user.status) %>-50 px-2 py-1 text-xs font-medium text-<%= user_status(user.status) %>-700 ring-1 ring-inset ring-<%= user_status(user.status) %>-700"><%= user.status %></span>
  </td>
  <td><%= user.entry_date %></td>
  <td>
    <div class="relative inline-block text-left" data-controller="dropdown">
      <button 
        type="button" 
        class="inline-flex w-full justify-center gap-x-1.5 rounded-md p-1 text-sm font-semibold text-gray-900 hover:shadow-sm hover:ring-1 ring-inset ring-gray-300 hover:bg-gray-50 active:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300"
        id="table-dropdown"
        data-dropdown-target="button"
        data-action="click->dropdown#toggle keydown.esc->dropdown#toggle click@window->dropdown#hide"
        tabindex="0"
        aria-haspopup="true" aria-expanded="true">
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
        </svg>
      </button>
      <div 
        class="absolute hidden right-8 bottom-0 z-10 mt-2 w-40 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
        role="menu" 
        data-dropdown-target="menu"
        aria-orientation="vertical" aria-labelledby="table-dropdown">
        <div class="py-1" role="none">
          <%= link_to "Edit", edit_user_path(user), class: "text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm", data: { turbo_frame: "modal" } %>
          <%= link_to "Delete", user_path(user), class: "text-gray-700 hover:bg-gray-100 block px-4 py-2 text-sm", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </td>
</tr>