<%= turbo_frame_tag "counted_users_status" do %>
  <%= render partial: "users/overview" %>
<% end %>
<div class="space-y-4">
  <%= render "users/user_header" %>
  <div class="flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= turbo_frame_tag "update_users_table" do %>
          <%= render "users/user_table", objects: @users %>
        <% end %>
      </div>
    </div>
  </div>
  <%== render partial: 'shared/pagination', locals: { pagy: @pagy, pagy_label: "Users" } %>
</div>