<%= form_with(model: user, data: { controller: "flatpickr" }, html: { class: "grid grid-cols-2 gap-4", id: dom_id(user) }) do |f| %>
  <%= render "shared/form_errors", object: f.object %>
  <%= render "users/forms/preview", f: f, user: user %>
  <div class="col-span-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "John Wick" %>
  </div>
  <div class="col-span-2">
    <%= f.label :job %>
    <%= f.text_field :job, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "UX Engineer" %>
  </div>
  <div class="col-span-2 md:col-span-1">
    <%= f.label :email %>
    <%= f.email_field :email, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "test@gmail.com" %>
  </div>
  <div class="col-span-2 md:col-span-1">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "5459912312" %>
  </div>
  <div class="col-span-2 md:col-span-1">
    <%= f.label :entry_date %>
    <%= f.date_field :entry_date, include_blank: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 entry_date", placeholder: "mm/dd/yy" %>
  </div>
  <div class="col-span-2 md:col-span-1">
    <%= f.label :status %>
    <%= f.select :status, ["On Site", "Remote", "On Leave"] %>
  </div>
  <div>
    <%= f.submit "#{params[:action] == "new" ? "Create User" : "Update User"}", class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" %>
  </div>
<% end %>