<!DOCTYPE html>
<html>
  <head>
    <title>UserManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="flash">
      <%= render partial: "shared/flash" %>
    </div>
    <%= turbo_frame_tag "modal" %>
    <div  data-controller="aside" >
      <%= render partial: "layouts/side_bar" %>
      <%= render partial: "layouts/top_bar" %>
    </div>
    <main class="lg:pl-20">
      <section>
        <div class="p-6 space-y-10">
          <%= yield %>
        </div>
      </section>
    </main>
  </body>
</html>
